{% extends "main/layout.html" %}
{% block title %}Расчет{% endblock title %}
{% block content %}

<div class="container">
    
    <!-- Форма выбора ЛЭП -->
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" value="select_line" class="btn btn-primary mt-2">Выбрать</button>
        </form>
    </div>
    
    <div class="row">
        
        <!-- Карточка ЛЭП -->
        <div class="col-md-6">
            <div class="card mt-4 w-auto">
                <div class="card-header">
                    <strong>Защищаемая ЛЭП</strong>
                </div>
                <div class="card-body">
                    <p><strong>Диспетчерское наименование: </strong>{{ selected_line.dispatch_name }}</p>
                    <p><strong>Наименование в PF.Protection: </strong>{{ selected_line.pf_name }}</p>
                    <p><strong>ДДТН, А: </strong>{{ selected_line.current_capacity }}</p>
                </div>
            </div>
        </div>
        
        <!-- Топология прилегающей сети -->
        {% for half_set, half_set_topology in line_topology.items %}
        <div class="col-md-3 mt-4">
            <ul class="list-group">
                <li class="list-group-item">
                    {{ half_set }}
                </li>
                {% for type, elements_list in half_set_topology.items %}
                    <a href="#" 
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
                       data-bs-toggle="modal" 
                       data-bs-target="#modal{{ half_set.id }}-{{ type }}">
                        {{ type }}
                        <span class="badge bg-primary rounded-pill">{{ elements_list|length }}</span>
                    </a>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="line" value="{{ selected_line.id }}">
                <button type="submit" name="action" value="generate_submodes" class="btn btn-primary mt-2">Подрежимы</button>
            </form>
        </div>
    
        <div class="col-md-6">
            <ul class="list-group">
                {% for half_set, submodes in line_submodes.items %}
                    <a href="#" 
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
                       data-bs-toggle="modal" 
                       data-bs-target="#modal{{ half_set.id }}">
                        {{ half_set }}
                    </a>
                {% endfor %}
            </ul>
        </div>
    
    </div>
    
    <!-- Модальные окна для топологии -->
    {% for half_set, half_set_topology in line_topology.items %}
        {% for type, elements_list in half_set_topology.items %}
        <div class="modal fade" 
             id="modal{{ half_set.id }}-{{ type }}" 
             tabindex="-1" 
             aria-labelledby="modalLabel{{ half_set.id }}-{{ type }}" 
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            {% for element in elements_list %}
                                <li class="list-group-item">
                                    {{ element }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}

    <!-- Модальные окна для подрежимов -->
    {% for half_set, submodes in line_submodes.items %}
        <div class="modal fade" 
             id="modal{{ half_set.id }}" 
             tabindex="-1" 
             aria-labelledby="modalLabel{{ half_set.id }}" 
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            {% for submode in submodes %}
                                <li class="list-group-item">
                                    {{ submode }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}