{% extends "main/layout.html" %}
{% block title %}История{% endblock title %}
{% block content %}
<div class="container">
    <body>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Номер расчета</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Дата расчета</th>
            <th scope="col">Защищаемая ЛЭП</th>
            <th scope="col">Отчет</th>
        </tr>
        </thead>
        <tbody>
        {% for calculation in page_obj.object_list %}
            <tr>
                <td>{{ calculation.calculation_number }}</td>
                <td>{{ calculation.user }}</td>
                <td>{{ calculation.calculation_date }}</td>
                <td>{{ calculation.line }}</td>
                <td>
                    <a href="{% url 'results' calculation_meta_id=calculation.id %}">Открыть отчет</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Расчеты отсутствуют.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <nav aria-label="Навигация">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    </body>
</div>
{% endblock content %}