{% extends "main/layout.html" %}
{% block title %}Расчет{% endblock title %}
{% block content %}
<div class="container-fluid">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-2">Подтвердить</button>
    </form>

    {% if selected_line %}
    <!-- Карточка для ЛЭП -->
    <div class="card mt-4 w-25">
        <div class="card-header">
            <strong>Защищаемая ЛЭП</strong>
        </div>
        <div class="card-body">
            <p><strong>Диспетчерское наименование: </strong>{{ selected_line_data.dispatch_name }}</p>
            <p><strong>Наименование в PowerFactory: </strong>{{ selected_line_data.pf_name }}</p>
            <p><strong>ДДТН, А: </strong>{{ selected_line_data.current_capacity }}</p>
        </div>
    </div>

    <!-- Карточка для устройства защиты -->
    <div class="card mt-4 w-25">
        <div class="card-header">
            <strong>Устройство РЗА ЛЭП</strong>
        </div>
        <div class="card-body">
            <p><strong>Модель устройства: </strong>{{ protection_half_sets.0.protection_device }}</p>
            <p><strong>Производитель: </strong>
                {% if protection_half_sets.0.protection_device.manufacturer_fk %}
                {{ protection_half_sets.0.protection_device.manufacturer_fk.name }}
                {% else %}
                &mdash;
                {% endif %}
            </p>
        </div>
    </div>
    {% endif %}

</div>
{% endblock content %}