/* Кастомизация скроллбара для Select2 */
.select2-results__options::-webkit-scrollbar {
    width: 8px;
}

.select2-results__options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.select2-results__options::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.select2-results__options::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Для Firefox */
.select2-results__options {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}